@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Usando DataTables totalmente no Server Side</h2>
    </div>
</div>

<hr />

<table class="table table-hover" id="tblPessoas">
    <thead>
        <tr>
            <th>Nome Completo</th>
            <th>Data de Aniversário</th>
            <th>Emprego</th>
            <th>Salário</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section scripts {
    <script src="~/Scripts/Home/index.js"></script>
}